*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0f172a;
color:#fff;
}

header{
position:fixed;
top:0;
left:0;
width:100%;
padding:15px 8%;
display:flex;
justify-content:space-between;
align-items:center;
background:rgba(0,0,0,.8);
backdrop-filter:blur(10px);
z-index:1000;
}

.logo{
font-size:35px;
font-weight:bold;
color:#ff2d75;
}

nav a{
color:white;
text-decoration:none;
margin:15px;
font-weight:bold;
transition:.3s;
}

nav a:hover{
color:#ff2d75;
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
url("https://images.unsplash.com/photo-1516280440614-37939bbacd81?w=1600");
background-size:cover;
background-position:center;
}

.hero h1{
font-size:65px;
color:#ff2d75;
}

.hero h2{
margin:20px 0;
font-size:35px;
}

.hero p{
max-width:900px;
margin:auto;
line-height:1.8;
font-size:18px;
}

.btn{
display:inline-block;
margin-top:30px;
padding:15px 40px;
background:#ff2d75;
color:#fff;
text-decoration:none;
border-radius:50px;
transition:.4s;
}

.btn:hover{
background:#fff;
color:#ff2d75;
}

.section{
padding:80px 10%;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.card{
background:#1e293b;
padding:30px;
border-radius:15px;
transition:.4s;
box-shadow:0 0 15px rgba(0,0,0,.3);
}

.card:hover{
transform:translateY(-10px);
background:#ff2d75;
}

.card h2{
margin-bottom:15px;
}

footer{
background:#000;
text-align:center;
padding:30px;
margin-top:50px;
}

@media(max-width:768px){

header{
flex-direction:column;
}

nav{
margin-top:15px;
}

.hero h1{
font-size:40px;
}

.hero h2{
font-size:25px;
}

}
