*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#0b0b0b;
color:#fff;
overflow-x:hidden;
}

/* HEADER */

header{
position:fixed;
top:0;
left:0;
width:100%;
padding:15px 8%;
display:flex;
justify-content:space-between;
align-items:center;
background:rgba(0,0,0,.85);
backdrop-filter:blur(15px);
z-index:999;
}

.logo img{
height:65px;
}

nav{
display:flex;
gap:35px;
}

nav a{
text-decoration:none;
color:white;
font-size:17px;
font-weight:600;
transition:.3s;
}

nav a:hover{
color:#ff2d75;
}

.join-btn{
background:#ff2d75;
color:white;
padding:12px 28px;
border-radius:30px;
text-decoration:none;
font-weight:700;
transition:.4s;
}

.join-btn:hover{
background:#ffb400;
transform:scale(1.08);
}

/* HERO */

.hero{
width:100%;
min-height:100vh;
display:flex;
justify-content:space-between;
align-items:center;
padding:140px 8%;
background:linear-gradient(to right,#000,#161616);
}

.hero-left{
width:50%;
}

.hero-left h3{
font-size:22px;
color:#ff2d75;
margin-bottom:10px;
}

.hero-left h1{
font-size:65px;
line-height:75px;
margin-bottom:20px;
}

.hero-left p{
font-size:18px;
line-height:32px;
color:#ddd;
margin-bottom:30px;
}

.offer{
display:inline-block;
background:#ff2d75;
padding:12px 30px;
border-radius:50px;
font-weight:bold;
margin-bottom:20px;
}

.offer2{
display:inline-block;
margin-left:15px;
background:#ffb400;
color:black;
padding:12px 30px;
border-radius:50px;
font-weight:bold;
margin-bottom:35px;
}

.main-btn{
display:inline-block;
padding:15px 40px;
background:#ff2d75;
color:white;
text-decoration:none;
border-radius:40px;
font-size:18px;
font-weight:bold;
transition:.4s;
}

.main-btn:hover{
background:#ffb400;
color:black;
transform:translateY(-5px);
}

/* RIGHT */

.hero-right{
width:45%;
text-align:center;
}

.hero-right img{
width:100%;
max-width:480px;
animation:float 4s ease-in-out infinite;
filter:drop-shadow(0 0 35px #ff2d75);
}

@keyframes float{

0%{
transform:translateY(0px);
}

50%{
transform:translateY(-20px);
}

100%{
transform:translateY(0px);
}

}

/* MOBILE */

@media(max-width:900px){

header{
flex-direction:column;
gap:15px;
}

nav{
flex-wrap:wrap;
justify-content:center;
}

.hero{
flex-direction:column-reverse;
text-align:center;
padding-top:180px;
}

.hero-left,
.hero-right{
width:100%;
}

.hero-left h1{
font-size:45px;
line-height:55px;
}

.hero-right img{
max-width:320px;
margin-bottom:40px;
}

}
